/* Coolors Exported Palette - https://coolors.co/app/f7a278-f06543-e8e9eb-2f4858-313638 */

$lorange: #f7a278; //rgba(247, 162, 120, 100)
$mango: #f06543; //rgba(240, 101, 67, 100)
$white: #e8e9eb; //rgba(232, 233, 235, 100)
$blue: #2f4858; //rgba(47, 72, 88, 100)
$black: #313638; //rgba(49, 54, 56, 100)
