// compileCompressed: ../styles/$1.$2.css

@import "hover";
@import "bootstrap";
@import "materialdesignicons";
@import "palette";

// colors
$menuBgColor: $blue;
$pageBgColor: $black;
$popoverBgColor: $blue;
$popoverFontColor: $white;
$headerFontColor: $mango;

@font-face {
	font-family: antic;
	src: url("../font/Antic-Regular.ttf");
}
// begin roboto font-family
$robotoUrl: "../font/roboto/";
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Bold.ttf") format("truetype");
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Light.ttf") format("truetype");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("#{$robotoUrl}Roboto-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: $pageBgColor;

	font-family: roboto;
	font-weight: normal;
	font-size: 1.5em;

	// material design icons styles
	.mdi {
		& > * {
			margin-right: 5px;
		}

		&.mdi-md {
			font-size: 1.25em;
		}

		&.mdi-lg {
			font-size: 1.5em;
		}

		&.mdi-xl {
			font-size: 1.75em;
		}

		&.dmi-xxl {
			font-size: 2em;
		}
	}

	// popover styles
	.popover {
		border: none;
		background-color: lighten($popoverBgColor, 3);

		&.bottom {
			margin-top: -5px;

			> .arrow {
				top: -10px;

				&:after {
					border-bottom-color: lighten($popoverBgColor, 3);
				}
			}
		}

		& > .popover-inner > .popover-content {
			color: $popoverFontColor;
		}
	}

	.hvr-underline-from-right {
		@include underline-from-right-with-color($lorange);
	}

	.hvr-back-pulse:hover,
	.hvr-back-pulse:active,
	.hvr-back-pulse:focus {
		background-color: transparentize($headerFontColor, 0.5);
		color: inherit;
	}
	@include keyframes(hvr-back-pulse) {
		50% {
			background-color: transparentize($headerFontColor, 0.75);
		}
	}
}

header {
	* {
		color: $headerFontColor;

		border: none;
	}

	.navbar.navbar-static-top {
		margin: 0;
		border: none;

		height: 80px;

		background-color: $menuBgColor;

		li a {
			line-height: 80px;
			height: 80px;
			padding-top: 0;
		}

		.navbar-header {
			line-height: 80px;
			height: 80px;
			width: 15%;
			padding-top: 0;
		}

		.svg-wrap {
			height: 100%;
			width: 50%;
			position: relative;
			padding-top: 35%;

			svg {
				height: 100%;
				width: 100%;
				display: block;

				fill: $mango;

				position: absolute;
				top: 0;
				left: 10px;
			}
		}
	}

	.side-nav-container {
		position: absolute;

		padding: 0;
		height: 100vh;
		width: 175px;

		background-color: $menuBgColor;

		.row-fluid {
			margin-left: 0;
			margin-right: 0;
			height: 100vh;

			[class*='col-'] {
				padding-right: 0;
				padding-left: 0;
				height: 100vh;
			}

			.col-sm-2 {
				background-color: $menuBgColor;

				//fix for annoying 1px line between sidenav and navbar
				margin-top: -3px;

				a {
					&:hover {
						// prevent bootstrap's default hover styling.
						background-color: inherit;
						color: inherit;
					}
				}
			}
		}
	}
}

main {
	position: absolute;
	top: 80px;
	left: 175px;

	background-color: transparent;
	color: $white;
}
