/* Coolors Exported Palette - coolors.co/ededed-c9c9c9-f9884a-4c4c4c-383636 */

$color1: #ededed; //rgba(237, 237, 237, 100)
$color2: #c9c9c9; //rgba(201, 201, 201, 100)
$color3: #f9884a; //rgba(249, 136, 74, 100)
$color4: #4c4c4c; //rgba(76, 76, 76, 100)
$color5: #383636; //rgba(56, 54, 54, 100)